@model IEnumerable<LibraryLandia.Models.Book>

@{
    ViewData["Title"] = "Libros";
}

<h1>Libros</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableBooks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowedBooks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th colspan="4">
            Categoria
            @if (ViewBag.SortOrder == "category_asc")
            {
                <a href="@Url.Action("Index", "Books", new { sortOrder = "category_desc"  })">
                    <i asp-action="" class="bi bi-arrow-up"></i>
                </a>
            } else if (ViewBag.SortOrder == "category_desc") {
            
            <a href="@Url.Action("Index", "Books", new { sortOrder = "category_asc"  })">
                                <i class="bi bi-arrow-down"></i>
                            </a>
            }
            else
            {
                <a href="@Url.Action("Index", "Books", new { sortOrder = "category_asc"  })">
                    <i class="bi bi-arrow-down-up"></i>
                </a>
            }
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> |
                <a asp-action="Increment" asp-route-id="@item.Id">Prestar</a> |
                <a asp-action="Decrease" asp-route-id="@item.Id">Devolver</a>
            </td>
        </tr>
    }
    </tbody>
</table>
